<div id="ip_list">
<h4>View IP Addresses</h4>
<table>
<tr>
<th>Site</th>
<th>Equipment</th>
<th>IP Address</th>
</tr>
<% @ip_list.each do |a| %>
        <tr>
                <td><%=a.site%></td>
                <td><%=a.name%></td>
                <td><%=a.ip_address%></td>
        </tr>
<% end %>
</table>
</div>

