
#header { font-size : 5em ; color : #FFFFFF ; background-color : $site-blue ; }

#menu_links a:link, #menu_links a:visited, #menu_links a:active {  color : #FFFFFF; }

span#menu_links { background-color: $site-blue ; padding: 0.5em 2em 0 0;  font-size: 0.35em ; float: right; }

.header_button { height: 2.5em ; width: 2.5em; border:0}

